header{
    margin:25px;
}
nav{
    background-color: lightblue;
    padding:10px;
    margin:25px;
}
nav a:hover{
    background-color: blue;
    color: white;
}
nav > a{
    padding:10px;
    margin:10px;
}
section{
    background-color: lightgrey;
    padding:10px;
    width:75%;
    margin:25px;
}
article{
    background-color: white;
    padding:10px;
    margin:10px;
    margin-bottom: 20px;
}
aside{
    float: right;
    width:20%;
    background-color: darkkhaki;
    padding-left: 5px;
    margin:5px;
    margin-top:25px;
}
footer{
    background-color: bisque;
    text-align: center;
    padding: 2px;
}
