body{
    text-align: center;
}
.button{
    background-color: lightgreen;
    color:black;
    border:none;
    border-radius:5px;
    padding:10px;
    margin:10px;
    cursor: pointer;
    
}
.button:hover{
    background-color: green;
    color:white;
}
.main{
    margin-top:40px;
}
.details{
    font-size: 110%;
    
}